extends layout
block content
    .page-header
    .row
        .col-xs-12.col-sm-3
            .panel-body.panel.panel-default
                img(src='/images/Miranda.png')
                p Miranda Poggidi
                p 22
                p USA
                .label.label-primary
                    | Boardgames
                | &nbsp;
                .label.label-primary
                    | Eurogames
                | &nbsp;
                .label.label-primary
                    | Spanish
                | &nbsp;
                .label.label-primary
                    | Film
                | &nbsp;
                .label.label-primary
                    | Chinese
                | &nbsp;
                p Looking forward to making friends with people from different countries and having fun together
        .col-sm-1
        .col-xs-12.col-sm-7
            .panel-body.panel.panel-default
                img(src='/images/halloween.jpg')
                h4 Pumpkin Carving Night
                p
                    .glyphicon.glyphicon-time
                    | &nbsp; Tuesday, July 4, 2017
                    | 8:00 AM
                p
                    .glyphicon.glyphicon-user
                    | &nbsp; No Limit
                p
                    .glyphicon.glyphicon-map-marker
                    | &nbsp; Texas Union Patio,
                    | Guadalupe St & W 24th St, Austin, TX
                p Join us Halloween Night! Join PALS for a ghostly night of pumpkin carving! Don't miss out on this treat!
                p.text-center
                    button(type='button').btn.btn-default
                        | Join
                a(href='#')
                    | 18 people are going
                span.pull-right
                    a(href='#')
                        | Share
            .panel-body.panel.panel-default.review-panel
                .panel-heading
                    a.btn.btn-default.pull-right(href='/location/review/new') Add review
                    h2.panel-title Customer reviews
                //-
                .panel-body.review-container
                    .row
                        .review
                            .well.well-sm.review-header
                                span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.reviewAuthor Simon Holmes
                                small.reviewTimestamp 16 July 2013
                            .col-xs-12
                                .row
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star
                                                span.glyphicon.glyphicon-star-empty
                                                span.glyphicon.glyphicon-star-empty
                                            span.reviewAuthor Charlie Chaplin
                                            small.reviewTimestamp 16 June 2013
                                        .col-xs-12
                                            p It was okay. Coffee wasn't great, but the wifi was fast.
                //



