extends layout
block content
    .row.page-header
        .col-lg-12
            h1= pageHeader.title
    .row
        .col-xs-12.col-md-6
            form.form-horizontal(action="", method="post", role="form")
                .form-group
                    label.col-xs-2.control-label(for="name") Name
                    .col-xs-12
                        input#name.form-control(name="name")
                .form-group
                    label.col-xs-2.control-label(for="comment") Comment
                    .col-xs-12
                        textarea#review.form-control(name="comment", rows="5")
                button.btn.btn-default.pull-right Add my comment
        .col-xs-12.col-md-4